pi to bluemix/flow1 (raspberry).json
[{"id":"a9a4bf60.39b4a","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"34c20c49.1348b4","type":"ibmiot out","z":"a9a4bf60.39b4a","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"akma","deviceType":"raspberrypi","eventCommandType":"statusindicator","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":860,"y":300,"wires":[]},{"id":"3a7e4bfd.9686b4","type":"inject","z":"a9a4bf60.39b4a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Normal","payloadType":"str","x":170,"y":240,"wires":[["ad0f2773.7c12f8"]]},{"id":"2ee5f7da.f70498","type":"inject","z":"a9a4bf60.39b4a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Alert","payloadType":"str","x":170,"y":340,"wires":[["ad0f2773.7c12f8"]]},{"id":"ad0f2773.7c12f8","type":"function","z":"a9a4bf60.39b4a","name":"format message","func":"msg.payload = { \"a\" : { \"indicator\" : msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":300,"wires":[["817f4c05.aa3b9"]]},{"id":"817f4c05.aa3b9","type":"json","z":"a9a4bf60.39b4a","name":"","property":"payload","action":"","pretty":false,"x":630,"y":300,"wires":[["34c20c49.1348b4"]]}]