bluemix to pi/flow1.json
[{"id":"6f3bc8f6.1e1578","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"73b8dab.aa6b924","type":"inject","z":"6f3bc8f6.1e1578","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":160,"wires":[["a7f26fa9.087ed"]]},{"id":"82b0dd96.ed155","type":"function","z":"6f3bc8f6.1e1578","name":"Format data","func":"msg.payload = {'d':{'random': msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["f459c3f5.495f1","70ed8d3b.df1724"]]},{"id":"a7f26fa9.087ed","type":"random","z":"6f3bc8f6.1e1578","name":"","low":"1","high":"10","inte":"true","property":"payload","x":269,"y":160,"wires":[["82b0dd96.ed155"]]},{"id":"f459c3f5.495f1","type":"debug","z":"6f3bc8f6.1e1578","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":160,"wires":[]},{"id":"70ed8d3b.df1724","type":"wiotp out","z":"6f3bc8f6.1e1578","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"8f7644f2.bddb98","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":610,"y":220,"wires":[]},{"id":"8f7644f2.bddb98","type":"wiotp-credentials","z":"","name":"akma","org":"sx3m3k","serverName":"","devType":"raspberrypi","devId":"akma","keepalive":"60","cleansession":true,"tls":"","usetls":false}]